@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.app{
       
    background-color: whitesmoke;
}
.app.dark{
    background-color: black;
    color: rgba(255, 166, 0, 0.719);

}