@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.app{
       
    background-color: white;
}
.app.dark{
    background-color: rgba(0, 0, 0, 0.973);
    color: rgba(255, 166, 0, 0.719);

}