.content{
    position: relative;
    top: 150px;
    text-align: center;
    
    border: 5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 5px -10px whitesmoke;

    margin: 0px 100px;
    height: 100vh;
    
}

.chead ul{

    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: 2px double black;
    padding-bottom: 10px;
    margin:20px;
    


}
.chead ul li{
    padding: 10px;
}
