@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.main-content{
    position: relative;
    top: 90px;
    left: -150px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.name{
    font-size: 2rem;
    font-stretch: extra-expanded;
}

.description{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.699);
    line-height: 3rem;

}
.link-heading{
    font-size: .8rem;
    color: rgba(243, 9, 9, 0.795);
    line-height: 2rem;
}

.work{
    display: flex;

}
.box{
    margin-top: 30px;
    border-left: 1px dotted black;
    padding-left: 60px;
    font-size: 1.2rem;
}
.left-box{
    width: 40% ;   
    padding: 20px;
}
span{
    margin-right: 15px;
}
.current{
    margin-left: 40px;
    font-size: 1rem;

}
.icons{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}