.banner img{
    width: 100%;
    max-height: 220px;
    

}
.profilepic{
    position: relative;
    
}
.profilepic img{
   border-radius: 50%;
   width: 160px;
   height: 160px;
   position: absolute;
   top: -90px;
   left: 40px;
   border: 7px solid white;
   


}