@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.main-content{
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
    
    
}
.name{
    font-size: 2rem;
    font-stretch: extra-expanded;
}

.description{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.699);
    line-height: 3rem;

}
.link-heading{
    font-size: .8rem;
    color: rgba(255, 0, 0, 0.87);
    line-height: 2rem;
}

.work{
    display: flex;

}
.box{
    margin-top: 30px;
    border-left: 1px dotted black;
    padding-left: 60px;
    font-size: 1.2rem;
}
.left-box{
    width: 40% ;   
    padding: 20px;
}
span{
    margin-right: 15px;
}
.current{
    margin-left: 40px;
    font-size: 1rem;

}
.icons{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}