.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}
.skills{
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    
}
.img{
    width: 100px;
    height: 100px;
}
.skills p{
    padding: 10px;
    text-align: justify;
}
/* .img:hover{
    width: 120px;
    height: 120px;
} */